#bolsotrump img {
	height: 200px;
	width: 300px;
	border: 1px solid black;
}

#trump img {
	height: 400px;
	width: 200px;
	border: 1px solid black;
}

#trumpputin img {
	height: 200px;
	width: 300px;
	border: 1px solid black;
}

#trumpkim img {
	height: 200px;
	width: 300px;
	border: 1px solid black;
}

#bolso img {
	height: 200px;
	width: 300px;
	border: 1px solid black;
}

#boris img {
	float: right;
	clear: right;
	height: 400px;
	width: 200px;
	border: 1px solid black;
}

.hero p {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 80%;
	color: white;
	font-weight: bold;
}


/* .heromain {
	float: left;
	clear: left;
	width: 1420px;
	height: 400px;
	border: 2px solid yellow;
	list-style-type: none;
	margin-top: 10px;

}
#middleTop {
	width: 610px;
	display: flex;
	flex-direction: row;
	border: 30px double red;
}

.hero {
		display: inline-block;
		position: relative;
}


.hero div {
	border: 1px solid black;
} */


.middleTop {
	display: flex;
	flex-direction: row;	
}

.middleBottom {
	display: flex;
	flex-direction: row;
}

.middleContainer {
	display: flex;
	flex-direction: column;
}

.heromain {
	display: flex;
	flex-direction: row;
}







